In [1]:
import json
import pandas as pd

In [6]:
with open("gujlish_conversations.json", 'r') as f:
    data = json.load(f)

In [11]:
df = pd.DataFrame(data)
df = df.iloc[:,1:]
df.head()

,topic,english,gujlish
0,Discussing weekend plans,What are your plans for the weekend?,Taro weekend mate shu plan chhe?
1,Discussing weekend plans,I was thinking we could go out and watch a movie.,Hu to vichari rahyo hato ke apde movie jovay j...
2,Discussing weekend plans,Do you want to try that new restaurant nearby?,Tane navi restaurant try karvi chhe je najik m...
3,Discussing weekend plans,Letâ€™s relax at home and binge some series.,Chalo ghar e relax kariye ane kai series joiye.
4,Discussing weekend plans,I heard thereâ€™s a concert in town this weekend.,Mane sambhalyu chhe ke aa weekend ma concert c...

In [8]:
df.to_csv('gujlish_conversations.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   topic    5000 non-null   object
 1   english  5000 non-null   object
 2   gujlish  5000 non-null   object
dtypes: object(3)
memory usage: 117.3+ KB